@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    @apply text-lg text-dark-color;
}
body:not(.home, .post-type-archive-case-study, .post-type-archive-team) .site-footer {
    @apply mt-14;
}
a {
    @apply transition ease-linear;
}
svg text {
    @apply font-awesome;
}
.sub-menu::before {
    @apply content-[''] bg-transparent w-full h-10 absolute -top-10 left-0;
}
.mobile-menu-wrapper .close,
.mobile-menu-wrapper.menu-open .open {
    @apply hidden;
}
.mobile-menu-wrapper.menu-open .close {
    @apply block;
}
.slide-close {
    @apply -mr-96;
}

/* Search box */
.search-box {
    @apply absolute inset-0 z-10 -translate-y-72;
}
.search-box-open {
    @apply w-full bg-theme-color text-dark-section-text translate-y-0;
}

/* Slider */
.slick-dots {
    @apply flex space-x-3 absolute -bottom-16 left-1/2 -translate-x-1/2;
}
.slick-dots li.slick-active button {
    @apply bg-dark-section-text opacity-100;
}
.slick-dots button {
    @apply w-[10px] h-[10px] bg-dark-section-text opacity-50 rounded-xl p-0 mx-0 my-3 -indent-[9999px] cursor-pointer;
}
.hero-banner .slick-dots {
    @apply lg:flex-col lg:right-7 lg:left-auto lg:bottom-auto lg:top-1/2 lg:-translate-y-1/2 bottom-8;
}
.hero-banner .slick-dots > :not([hidden]) ~ :not([hidden]) {
    @apply lg:m-0;
}
.hero-banner .slick-dots button {
    @apply lg:opacity-100;
}
.hero-banner .slick-dots li.slick-active button {
    @apply lg:bg-theme-color lg:outline lg:outline-offset-4 lg:outline-theme-color lg:opacity-100;
}

/* Carousel */
.carousel .slick-track {
    @apply flex justify-between gap-4 md:gap-9;
}
.carousel .slick-track::after,
.carousel .slick-track::before {
    @apply hidden;
}

/* Article slider */
.article-slider .slick-dots {
    @apply -bottom-20;
}

/* Accordion */
.accordion label::after {
    @apply content-['\f067'] font-awesome text-4xl font-light absolute right-11 top-1/2 -translate-y-1/2;
}
.accordion input:checked + label::after {
    @apply content-['\f068'] font-awesome text-4xl font-light;
}
.accordion .arrow-link::after {
    @apply content-['\f105'] font-awesome text-6xl font-light absolute right-11 top-1/2 -translate-y-1/2;
}
.accordion__content {
    @apply max-h-0 transition-spacing;
}
.accordion input[name='panel']:checked ~ .accordion__content {
    @apply pb-7;
    /* Get this as close to what height you expect */
    max-height: 50rem;
}
.glossary .accordion label::after {
    @apply content-['\f067'] font-awesome text-4xl font-light absolute right-10;
}
.glossary .accordion .arrow-link::after {
    @apply content-['\f105'] font-awesome text-6xl font-light absolute top-5 right-10;
}
.glossary .accordion input[name='panel']:checked ~ .accordion__content {
    @apply pb-6;
}

/* Util */
.slash-before::before {
    @apply sm:content-['/'] sm:mx-2;
}
.wysiwyg-editor h1,
.wysiwyg-editor h2,
.wysiwyg-editor h3,
.wysiwyg-editor h4,
.wysiwyg-editor h5,
.wysiwyg-editor h6 {
    @apply font-bold;
}
.wysiwyg-editor h1 {
    @apply text-3xl;
}
.wysiwyg-editor h2 {
    @apply text-2xl;
}
.wysiwyg-editor h3 {
    @apply text-xl;
}
.wysiwyg-editor h4 {
    @apply text-lg;
}
.wysiwyg-editor h5 {
    @apply text-lg;
}
.wysiwyg-editor h6 {
    @apply text-base;
}
.wysiwyg-editor ul {
    @apply space-y-3;
}
.wysiwyg-editor ul li {
    @apply pl-6 relative;
}
.wysiwyg-editor ul li::before {
    @apply content-[''] flex w-2 h-2 bg-theme-color absolute left-0 top-2;
}

/* ACF front end fields */
.review-form .acf-field input[type=text],
.review-form .acf-field input[type=password],
.review-form .acf-field input[type=date],
.review-form .acf-field input[type=datetime],
.review-form .acf-field input[type=datetime-local],
.review-form .acf-field input[type=email],
.review-form .acf-field input[type=month],
.review-form .acf-field input[type=number],
.review-form .acf-field input[type=search],
.review-form .acf-field input[type=tel],
.review-form .acf-field input[type=time],
.review-form .acf-field input[type=url],
.review-form .acf-field input[type=week],
.review-form .acf-field textarea,
.review-form .acf-field select {
    @apply py-2.5 px-3;
}
.review-form .acf-input-wrap {
    @apply overflow-visible;
}
.review-form .acf-fields.acf-form-fields {
    @apply grid grid-cols-1 sm:grid-cols-2 gap-x-10 gap-y-6;
}
.review-form .acf-field.acf-field-wysiwyg {
    @apply sm:col-span-2 order-1;
}
.review-form .star-rating::before,
.review-form .btn-star-clear.clear-button,
.review-form #wp-acf-editor-37-editor-tools,
.review-form .quicktags-toolbar,
.review-form div.mce-statusbar,
.video-modal #message {
    @apply hidden;
}
.review-form .acf-field .acf-label {
    @apply m-0;
}
.review-form .acf-fields > .acf-field {
    @apply border-t-0 p-0;
}
.review-form .acf-field-star-rating-field {
    @apply flex items-center space-x-8;
}
.review-form .acf-field.acf-field-text .acf-label label,
.review-form .acf-field.acf-field-wysiwyg .acf-label label,
.review-form .acf-field.acf-field-star-rating-field .acf-label label {
    @apply font-normal mt-1;
}
.review-form div.field_type-star_rating_field ul.star-rating li i {
    @apply text-lg;
}
.review-form div.field_type-star_rating_field ul.star-rating li {
    @apply leading-none mr-2.5;
}

.review-form .acf-editor-wrap iframe,
.review-form .wp-editor-container textarea.wp-editor-area {
    height: 140px!important;
    min-height: 140px!important;
}
.review-form .acf-form-submit {
    @apply grid justify-end mt-6;
}
.review-form .acf-form-submit .button {
    @apply text-dark-color bg-transparent font-semibold hover:bg-dark-color hover:text-white border-2 border-dark-color cursor-pointer;
}

/* Tabs */
#tabs .active {
    @apply bg-theme-color text-dark-section-text;
}
